* text=auto
*.ts text eol=lf
*.tsx text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.prisma text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.conf text eol=lf
*.Dockerfile text eol=lf
*.wasm binary
*.png binary
*.jpg binary
